.main{
	margin: 0 7vw 0 7vw;
}
.title{
	font-family: 'Philosopher';
font-style: normal;
font-weight: 400;
font-size: 3vw;
text-transform: uppercase;
color: #444444;
padding: 4vw 0vw 4vw 0vw;
}
.divFoto{
	width: 65vw;
	height: 40vw;
}
.foto{
	width: 100%;
	height: 100%;
}
.fotocart{
	width: 65vw;
	margin: auto;
}
.request{
border: 1px solid #BDBDBD;
font-family: 'Montserrat';
font-style: normal;
line-height: 2;
text-transform: uppercase;
color: #444444;
padding: 3vw;
display: flex;
flex-direction: row;
margin-top: 3vw;
}
.text{
	width: 70%;
	font-weight: 400;
	font-size: 1.3vw;
}
.button{
font-family: 'Philosopher';
font-style: normal;
font-weight: 400;
font-size: 1.4vw;
text-transform: uppercase;
color: #FFFFFF;
background: #82C9DC;
margin: auto;
padding: 1vw 3vw 1vw 3vw;
border: 0;
}
.minFoto{
	width: 20vw;
	height: 13vw;
	margin-right: 2vw;
}
.divMiniFoto{
	display: flex;
	flex-direction: row;
	margin-top: 3vw;  
}