.menu{
font-family: 'Philosopher';
font-style: normal;
font-weight: 400;
font-size: 1.5vw;
text-transform: uppercase;
color: #828282;
display: flex;
flex-direction: row;
justify-content: space-between;
width: 75%;
margin: auto;
margin-top: 4vw;
cursor: pointer;
}

.pool{
width: 40vw;
height: 30vw;
margin-top: 3vw;
padding: 2vw;
}

.portfolio{
	display: flex;
	flex-wrap: wrap;
	margin: 0 4vw 0 4vw;
	justify-content: space-between;
}

.poolT {
	display: flex;
	flex-direction: column;
}
.title{
font-family: 'Philosopher';
font-style: normal;
font-weight: 400;
font-size: 1.5vw;
text-transform: uppercase;
color: #BDBDBD
}
.name{
	font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 1.2vw;
padding-top: 0.3vw;
color: #444444;
}
.foto{
	width: 40vw;
	height: 25vw;
}
.poolFullText{
display: flex;
flex-direction: row;
justify-content: space-between;
height: 5vw;
margin-top: 1vw;
}
.poolLink{
	display: flex;
	align-items: center;
}
.link{
	display: flex;
	align-items: center;
height: 40%;
font-family: 'Philosopher';
font-style: normal;
font-weight: 400;
font-size: 1.3vw;
text-transform: uppercase;
color: #444444;
padding: 0.5vw 2.3vw 0.5vw 2.3vw;
border: 1px solid #D9D9D9;
}