.mainDiv{
	display: flex;
	flex-direction: row;
	margin-left: 5vw;
}
.mainText{
font-family: 'Philosopher';
font-style: normal;
font-weight: 400;
font-size: 4vw;
margin-top: 15%;
color: #444444;
text-transform: uppercase;
}
.mainMinText{
margin-top: 5vw;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 1.3vw;
line-height: 1.5;
color: #444444;
width: 85%;
}
.elipseG{
font-family: 'Montserrat';
font-size: 1.1vw;
font-style: normal;
position: relative;
width: 15vw;
height: 6vw;
border-radius: 50%;
border: 1px solid #D9D9D9;
transform: rotate(-10deg);
margin: 5vw 0 0 25vw;
}
.elipseG:hover{
font-size: 1.2vw;
width: 16vw;
height: 6.5vw;

}
.elipseC{
position: absolute;
width: 100%;
height: 100%;
border-radius: 50%;
border: 1px solid #D9D9D9;
display: flex;
align-items:center;
justify-content: center;
transform: rotate(10deg);
}
.arrownRight{
width: 4vw;
padding-left: 0.2vw;
}
.BlueFoto{
	margin-top: -2vw;
	width: 28vw;
	height: 28vw;
	margin-left: 80vw;
	position: absolute;
	border-radius: 50%;
}
.left{
width: 50%;
animation: left 2s 1;
}

@keyframes left{
	0%{
	transform: translateX(-300px);
	opacity: 0;
	}	
	100%{
	opacity: 1;

	}
}
.right{
	width: 50%;
	animation: right 2s 1;
	overflow: hidden;
}
.icon{
	margin-top: -1vw;
	height: 2.5vw;
	margin-right: 0.5vw;
}
.gorizont{
	display: flex;
	flex-direction: row;
	margin-left: -3.7vw;
}
@keyframes right{
	0%{
	opacity: 0;
	transform: translateX(300px);
	}
	100%{
	opacity: 1;
	
	}
}
.divFoto{
width: 40vw;
height: 40vw;
border-radius: 50%;
text-align: center;
overflow: hidden;
margin: 0.5% 0 0 30%;
display: flex;
flex-direction: row;
justify-content: flex-end;
}

.mainR{
width: 100%;
}
.ouaDiv{
	margin: 5vw 5vw 0 5vw;
display: flex;
flex-direction: row;
}

.ouaText{
margin-top: 5vw;
margin-left: 5vw;
font-family: 'Philosopher';
font-style: normal;
font-weight: 300;
font-size: 3vw;
text-transform: uppercase;
color: #444444;
}
.left2{
	width: 50%;
}
.foto2left{
	width: 30vw;
}
.right2{
	border-top: 1px solid #444444;
	width: 50%;
display: flex;
flex-direction: column;
}

.right2Text{
border-bottom: 1px solid #444444;
font-family: 'Montserrat';
cursor: pointer;
font-style: normal;
font-weight: 400;
font-size: 1vw;
text-transform: uppercase;
padding: 1vw 1vw 1vw 0;
display: flex;
flex-direction: row;
justify-content: space-between;
color: #444444;
}
.arrownLU{
width: 1vw;
}
.pepa{
	width: 2vw;
}
.blueDiv{
	background-color: #82C9DC;
	overflow: hidden;
	margin-top: 5%;
	color: #FFFFFF;
	position: relative;
}
.blueDivText{
	width: 85%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 2vw;
}
.blueTextColumn{
display: flex;
flex-direction: column;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 1.3vw;
color: #FFFFFF;
width: 100%;
margin: 3vw 0 4vw 8vw;
text-transform: uppercase;
}

.divBlueFoto{
	position: absolute;
	width: 100%;
margin-left: 5vw;
margin-top: -2vw;
	display: flex;
	align-items: center;
	justify-content: end;
	overflow: hidden;
}
.blueMainText{
	margin-top: 3vw;
	font-family: 'Philosopher';
font-style: normal;
font-weight: 400;
margin-bottom: 0;
font-size: 3vw;
text-transform: uppercase;
text-align: center;

}
.blueText{
	display: flex;
	flex-direction: row;
	margin: 1vw 0 5vw 0;
	font-weight: 200;
font-size: 1vw;
width: 80%;
text-transform: none;
}
.DivOuaProjeckts{
	width: 100%;
}
.ProjecktsMainText{
font-family: 'Philosopher';
font-style: normal;
font-weight: 400;
font-size: 3vw;
text-transform: uppercase;
color: #444444;
text-align: right;
margin-top: 5vw;
margin-right: 5vw;
}
.p5{
	margin: 4vw 5vw 4vw 5vw;
	display: flex;
	flex-direction: row;
	justify-content: space-between;

}
.p{
	display: flex;
	flex-direction: column;
	word-wrap: break-word;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 1vw;
}
.pFoto{
	width: 21vw;
	height: 20vw;
}

.p5Main{
	margin-top: 1vw;
font-family: 'Philosopher';
font-style: normal;
font-weight: 700;
font-size: 1vw;
text-transform: uppercase;
color: #BDBDBD;
}
.p5text{
	margin-top: 1vw;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 1vw;
color: #444444;
}
.request{
border: 1px solid #BDBDBD;
font-family: 'Montserrat';
font-style: normal;
line-height: 2;
color: #444444;
padding: 3vw 2vw 3vw 5vw;
display: flex;
flex-direction: row;
margin: 8vw 5vw 5vw 5vw;
}

.button{
font-family: 'Philosopher';
font-style: normal;
font-weight: 400;
font-size: 1.4vw;
text-transform: uppercase;
color: #FFFFFF;
background: #82C9DC;
margin: 3vw 2vw 0 60vw;
padding: 1vw 3vw 1vw 3vw;
position: absolute;
}