.modal {
height: 100vh;
width: 100vw;
background-color: rgba(0,0,0,0.4);
position: fixed;
top: 0;
left: 0;
display: flex;
justify-content: center;
opacity: 0;
pointer-events: none;
transition: 0.5s;
z-index: 1;
}
.modal.active {
opacity: 1;
pointer-events: all;
overflow: scroll;
}
.modalContent {
height: 172vw;
width: 50vw;
background-color: white;
}