.about{
  display: flex;
  flex-direction: row;
  margin: 5vw 4vw 5vw 5vw;
padding-bottom: 4vw;
}
.left{
  width: 40%;
  font-family: 'Montserrat';
  font-size: 1.3vw;
font-style: normal;
color: #444444;
line-height: 1.8;
}
.left h1{
  font-family: "Philosopher";
font-style: normal;
font-weight: 400;
font-size: 3.5vw;
color: #444444;
margin-top: 0;
margin-bottom: 5vw;
}
.rigth{
display: block;
margin-left: 15vw;
}
.aboutcomp{
width: 110%;
height: 110%;
}
.mission{
display: flex;
flex-direction: column;
align-items: center;
background-color: #82C9DC;
}

.missDiv{
  width: 70%;  
  text-align: center;
  border-top: 0.1vw solid #FFFFFF;
  border-bottom: 0.1vw solid #FFFFFF;
  margin: 4vw 0 4vw 0;
  font-style: normal;
font-weight: 400;
padding: 4vw 0 4vw 0;


}
.mission h1{
  font-family: "Philosopher";
  font-size: 3.5vw;
color: #FFFFFF;
margin-bottom: 5vw;
margin-top: 0;

}
.mission h2{
  font-family: "Montserrat";
  font-size: 1.2vw;
  font-weight: 300;
  width: 65%;
margin: auto;
color: #FFFFFF;
}
.targets{
 font-family: "Philosopher";
font-size: 3.5vw;
margin: 5vw 4vw 7vw 5vw;
}
.target{
  display: flex;
flex-direction: row;
align-items:center;
justify-content: space-between;
}
.target img{
  width: 20vw;
  border-radius: 50%;
  display: flex;
  flex-direction: row;

}
.tarMT{
  font-family: 'Inter';
font-style: normal;
font-weight: 100;
font-size: 10vw;
text-transform: uppercase;
color: #000000;
opacity: 0.1;
width: 11vw;
}
.tarT{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 1.3vw;
color: #444444;
text-transform: none;
width: 40vw;
line-height: 2vw;
}

.uslugi{
  font-family: 'Philosopher';
  background-color: #82C9DC;
  color: #FFFFFF;
  padding: 8vw 0 5vw 0;
}
.uslugi h1{

font-size: 3.5vw;
color: #FFFFFF;
text-align: center;
padding-bottom: 5vw;
}
.uslugi h2{
font-style: normal;
font-weight: 400;
font-size: 2vw;
text-transform: uppercase;
margin-left: 5vw;
}
.uslugi h3{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 1.3vw;
margin: 3vw 5vw 4vw 5vw;
}
.history{
  margin: 5vw 4vw 5vw 5vw;
  color: #444444;
}
.hisFoto{
  width: 35vw;
  padding-left: 10vw;
}
.his{
  display: flex;
  flex-direction: row;
  font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 1.3vw;

}
.history h1{
  font-family: 'Philosopher';
font-style: normal;
font-weight: 400;
font-size: 3.5vw;
text-transform: uppercase;
margin-bottom: 5vw;
display: flex;
flex-direction: row;
justify-content: flex-end;
}

.direct{
  color: #FFFFFF;
  font-size: 3.5vw;
display: flex;
flex-direction: row;
width: 100%;
}
.dirLeft{
  background-color: #82C9DC;
  font-family: 'Philosopher';
  padding: 3vw 5vw 0 5vw;
  width: 45%;
}
.dirFoto{
width: 100%;
display: flex;
flex-direction: row;
justify-content: flex-end;
}
.dirRigth{
  width: 55%;
}
.dirLeft ul{
  margin-block-start: 1vw;
  padding-inline-start: 2.5vw;
  font-size: 1.3vw;
  line-height: 1.8;
  font-family: 'Montserrat';
 font-weight: 200;
}

.end{
margin: 5vw 4vw 7vw 5vw;
display: flex;
flex-direction: row;
}
.endRigth{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 1.3vw;
line-height: 1.8;
padding-left: 7vw;
color: #444444;
}
.endFoto{
  width: 35vw;
}


