.main{
	margin: 5vw 7vw 0 5vw;
}
.header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.sort_popup{
	font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 1vw;
color: #444444;
position: absolute;
}
li{
line-height: 1;
  list-style-type: none;
  padding-left: 0px;
}
.productOne{
	width: 100px;
	border: 2px red solid;
}
.product{
	width: 20vw;
	padding: 1vw 1vw 0 1vw;
	border: 1px solid #D9D9D9;
	font-family: 'Montserrat';
font-weight: 500;
}
.foto{
	width: 100%;
}
.active{
text-decoration: underline;
}
.prodt{
	display: flex;
	flex-direction: row;
	width: 100%;
	padding-bottom: 1vw;
	display: flex;
flex-direction: row;
align-items: center;
}
.title{
	width: 60%;
font-size: 1vw;
color: #444444;
text-decoration: none;
}
.art{
	width: 40%;	
font-size: 0.7vw;
color: #BDBDBD;
display: flex;
flex-direction: row;
justify-content: flex-end;
}
.price{
	width: 50%;
font-weight: 400;
font-size: 0.9vw;
color: #444444; 
}
.buy{
	width: 50%;	
	background-color: #82C9DC;
	font-family: 'Philosopher';
font-style: normal;
font-weight: 400;
font-size: 2vw;
text-transform: uppercase;
color: #FFFFFF;
padding: 0.3vw;
text-align: center;
}

