.header{
  background: #FFFFFF;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 0.1vw solid black;
  margin-top: 1vw;
}
.countTovar{
  width: 1.4vw;
  border-radius: 50%;
  background: #82C9DC;
  font-size: 1.2vw;
text-align: center;
position: absolute;
margin-left: 1vw;
margin-top: -2vw;
font-family: 'Montserrat';
font-style: normal;
color: #FFFFFF;
}
.OneFotoGroupe{
height: 2vw;
padding-right: 2vw;
}

.logo{
font-family: 'Philosopher';
font-style: normal;
font-weight: 600;
color: rgba(68, 68, 68, 1);
text-decoration: none;
font-size: 3vw;
box-sizing: border-box;
transition: color 0.4s ease;
}

.groupe11{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.phones{
display: flex;
flex-direction: column;
}
.phone{
font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 1.2vw;
line-height:1.5;
text-transform: capitalize;
color: #444444;
transition: color 0.4s ease;
}
.phone:hover, .logo:hover{
color: #82C9DC;
transition: color 0.4s ease;
}

.up{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
@media only screen and (min-width: 769px) and (max-width: 1024px){
.header{
    padding-top: 1vw;
      display: flex;
  flex-wrap: wrap;
  }
.logo{
  font-weight:400;
  font-size: 6vw;
}
.OneFotoGroupe{
height: 3.5vw;
padding-right: 2vw;
}
.phone{
  font-size: 2.1vw;
}
.countTovar{
  width: 2.5vw;
  border-radius: 50%;
  background: #82C9DC;
  font-size: 2vw;
text-align: center;
position: absolute;
margin-left: 2vw;
margin-top: -3vw;
}
.phones{
flex-direction: column;
}
  }
@media only screen and (min-width: 481px) and (max-width: 768px){
.header{
    padding-top: 1vw;
      display: flex;
  flex-wrap: wrap;
  }
  .up{
  margin: auto;
  width: 80%;
  flex-direction: column;
  align-items: center;
  }
.logo{
  margin-top: 2vw;
  font-weight:400;
  font-size: 10vw;
  text-align: center;
}
.OneFotoGroupe{
margin-top: 2vw;
height: 6vw;
padding-right: 0;
}
.phone{
  font-size: 4.5vw;
  margin-top: 2vw;
}
.countTovar{
  width: 5vw;
  border-radius: 50%;
  background: #82C9DC;
  font-size: 4vw;
text-align: center;
position: absolute;
margin-left: 3vw;
margin-top: -4vw;
}
.groupe11{
  width: 30vw;
  justify-content: space-between;
}
.phones{
margin-top: 1vw;
width: 100%;
display: flex;
flex-direction: row;
justify-content: space-between;
}
  }
@media only screen and (min-width: 320px) and (max-width: 480px){
  .header{
    padding-top: 1vw;
      display: flex;
  flex-wrap: wrap;
  }
  .up{
  margin: auto;
  width: 80%;
  flex-direction: column;
  align-items: center;
  }
.logo{
  margin-top: 2vw;
  font-weight:400;
  font-size: 11vw;
  text-align: center;
}
.OneFotoGroupe{
margin-top: 2vw;
height: 7vw;
padding-right: 0;
}
.phone{
  font-size: 5vw;
  margin-top: 2vw;
}
.countTovar{
  width: 6vw;
  border-radius: 50%;
  background: #82C9DC;
  font-size: 5vw;
text-align: center;
position: absolute;
margin-left: 4vw;
margin-top: -5vw;
}
.groupe11{
  width: 40vw;
  justify-content: space-between;
}
.phones{
margin-top: 2vw;
width: 100%;
display: flex;
flex-direction: row;
justify-content: space-between;
}
}