.nav{
  margin: auto;
  width: 90%;
  margin-top: 2vw;
  margin-bottom: 0.5vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.item{
transition: background-color 0.4s ease, color 0.4s ease;
font-family: 'Montserrat';
font-style: normal;
color: rgba(68, 68, 68, 1);
font-weight: 300;
text-decoration: none;
font-size: 1.2vw;
text-transform: uppercase;
white-space: nowrap;
padding: 0.3vw 0.7vw;
border-radius: 10px;
}
.item:hover{
background-color: #82C9DC;
color: white;
transition: background-color 0.4s ease, color 0.4s ease;
}

.active{
color: rgba(68, 68, 68, 1);
font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 1.2vw;
line-height: 12px;
text-transform: uppercase;
white-space: nowrap;
text-decoration: none;
color: #82C9DC;
}

@media only screen and (min-width: 769px) and (max-width: 1024px){
  .nav{
  width: 95%;
}
  .item{
    font-size: 1.8vw;
  }
  .active{
   font-size: 1.8vw; 
  }
  }
@media only screen and (min-width: 481px) and (max-width: 768px){
  .nav{
  margin-top: 5vw;
  margin-bottom: 2vw;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}
  .item{
    font-size: 4vw;
  }
  .active{
   font-size: 4vw; 
  }
  }
@media only screen and (min-width: 320px) and (max-width: 480px){
  .nav{
  margin-top: 5vw;
  margin-bottom: 2vw;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
  .item{
    font-size: 5vw;
  }
  .active{
   font-size: 5vw; 
  }
}
