.lower{
  padding: 5vw 7vw 0 7vw;
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  margin-top: 5vw;
}
.lowerM{
   background: #82C9DC;
}
.mainTextLower{
  text-align: center;
  padding-bottom: 2vw;
  color: #FFFFFF;
  margin-bottom: 0;
  font-size: 1.5vw;
}
.column a{
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 1vw;
line-height: 20px;
text-transform: uppercase;
color: #FFFFFF;
text-decoration: none;

}

