.header{
	color: red;
	display: flex;
	flex-direction: column;
	font-family: 'Philosopher';
font-style: normal;
font-weight: 400;
font-size: 1.5vw;
line-height: 2vw;
text-transform: uppercase;
color: #BDBDBD;
}
.contactPhone{
font-family: 'Montserrat';
font-weight: 500;
font-size: 1vw;
color: #444444;
}

.main{
	margin: 5vw 5vw 3vw 5vw;
}
.left{
	display: flex;
flex-direction: row;
width: 80%;
	justify-content: space-around;
}
.riht{
	width: 20%;
}
.UpButtoms{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 5vw;
}
.button{
	background-color: white;
	border: 1px solid #D9D9D9;
	padding: 0.4vw;
	display: flex;
	flex-direction: row;
	align-items: center;
	position: absolute;
	margin-left: 3vw;
}
.header img{
	margin-top: 0.5vw;
	height: 1.8vw;
}
.vtw{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.header a{
	font-family: 'Montserrat';
font-weight: 500;
font-size: 1vw;
color: #444444;
text-decoration: none;
}

.button a{
	font-family: 'Philosopher';
font-style: normal;
font-weight: 400;
font-size: 1.5vw;
text-transform: uppercase;
color: #444444;
text-decoration: none;
}

.mainT{
	font-family: 'Montserrat';
font-style: normal;
font-weight: 200;
font-size: 2vw;
color: #444444;
margin-top: 5vw;
}
.logo{
	width: 2vw;
	margin-right: 2vw;
	display: flex;
flex-direction: row;
align-items: center;
}
.miniT{
	font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 1.5vw;
text-transform: lowercase;
color: #444444;
margin-top: 3vw;
display: flex;
flex-direction: row;
height: 100%;
}
.miniT a{
	text-decoration: none;
	color: #444444;
}
